@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
	background-color: rgb(174, 99, 80);
	margin: 0;
	overflow: hidden;

}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Bungee', sans-serif;
}

.content h1 {
	font-size: 60px;
	color: sandybrown;
	margin: 0;
}

.information {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
	width: 80%;
	margin-top: 20px;
	height: 30%;
	border-radius: 20px;
}

.information p {
	font-size: 90px;
	color: salmon;
}

.date {
	color: sandybrown;
	font-size: 20px;
}